.profile{
  width: 100%;
}
.aboutme-top-box{
  background: rgba(1,1,1,0.7);
  padding: 1rem 1rem;
  border-top: solid 1px black;
}
.aboutme-box{
  background: rgba(1,1,1,0.7);
  padding: 2rem 1rem;
  border-top: solid 1px black;
}

.aboutme-text{
  //font-family: 'Shadows Into Light', cursive;
  font-size: 2rem;
  line-height: 110%;
}